body {
  background-color: #b1d4ea;
  text-align: center;
  font-family: monospace;
}

a {
  color: #3d8d72;
}

hr {
  border: solid 1px #45a183;
  border-radius: 5px;
}

h1 {
  font-size: 55px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #3d8d72;
}

footer {
  color: rgba(39, 33, 66, 0.6);
}

#project-container {
  max-width: 80%;
  margin: 30px auto;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(39, 33, 66, 0.4);
}

#search-city {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-city input {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#search-city input[type="search"] {
  color: rgba(39, 33, 66, 0.4);
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border: solid #45a183;
}

#search-city input[type="submit"] {
  font-weight: 700;
  color: white;
  background-color: #45a183;
  transition: all 150ms ease-in-out;
}

#search-city input[type="submit"]:hover {
  background-color: #204b3d;
  cursor: pointer;
}

#current-weather {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}

#current-temp {
  display: flex;
  align-content: center;
  font-family: "Lato", sans-serif;
}

#temp-value {
  font-size: 60px;
}

#current-temp-info {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  font-size: 14px;
  padding: 12px 0;
}

#temp-high {
  color: #e92023;
  font-weight: 900;
}

#temp-low {
  color: #1a64d6;
}

#current-weather-icon {
  width: 100px;
  height: 95px;
  position: relative;
  top: -13px;
}

#current-weather-details {
  color: rgba(39, 33, 66, 0.6);
}

#current-weather-details strong {
  color: #3d8d72;
}

#weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

#forecast-day {
  display: flex;
  flex-direction: column;
  transition: all 150ms ease-in-out;
}

#forecast-day:hover {
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 7px 7px 15px rgba(95, 95, 95, 0.2);
}

#forecast-date {
  font-size: 15px;
  color: rgba(39, 33, 66, 0.6);
}

#forecast-temp {
  display: flex;
  justify-content: space-between;
}

#forecast-temp-high {
  color: #e92023;
  font-weight: 900;
}

#forecast-temp-low {
  color: #1a64d6;
}
